@import "~antd/dist/antd.css";

html,body,#root,.App{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  min-width: 1600px;
  min-height: 900px;
}
h1,h2,h3,h4,h5,h6,p,ul,li{
  margin: 0;
  pad: 0;
  text-align: left;
  list-style: none;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #096dd9
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(14, 7, 109, 0.3);
}