@import "~antd/dist/antd.css";

html,body,#root,.App{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  min-width: 1600px;
  min-height: 900px;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  pad: 0;
  text-align: left;
}